@import "compass/css3";



@mixin transition( $transition1 ) {
  transition: $transition1;
}

@mixin box-shadow( $shadow ) {
  box-shadow: $shadow;
}

@mixin text-shadow( $shadow ) {
  text-shadow: $shadow;
}



body {
  padding-bottom: 26px;
}

button, dt, dd, input, li, option, p, select, textarea, th, td {
  color: hsl( 0, 0%, 23.6% );
  font-family: verdana, helvetica, arial, sans-serif;
  font-size: 10pt;
}



.w1 { width: 1% !important; }
.w100 { width: 100% !important; }

.tal { text-align: left !important; }
.tac { text-align: center !important; }
.tar { text-align: right !important; }
.taj { text-align: justify !important; }

.vat { vertical-align: top !important; }
.vac { vertical-align: center !important; }
.vab { vertical-align: bottom !important; }
.val { vertical-align: baseline !important; }

.fll { float: left; }
.flc { float: center; }
.flr { float: right; }



input.number, select.number {
  min-width: 80px;
  text-align: right;
  width: 23.6%;
}

input.token, select.token {
  min-width: 130px;
  width: 38.2%;
}

input.string, select.string {
  min-width: 210px;
  width: 100%;
}



.nowrap {
  white-space: nowrap;
}

.minor {
  font-size: 8.382pt;
  color: hsl( 0, 0%, 38.2% );
}

.error {
  color: #d00;
  font-weight: bold;
  @include text-shadow( 0 0 2px #fe0 );
}



.icon {
  background-repeat: none;
  background-image: url(sprite.png);
  display: inline-block;
  height: 12px;
  width: 12px;
  @include opacity( 0.618 );
}

*:hover .icon {
  @include opacity( 1 );
}

.icon-disabled {
  @extend .icon;
  @include opacity( 0.1 );
}

.icon-first { background-position:   0   0; }
.icon-prev  { background-position: -12px 0; }
.icon-next  { background-position: -24px 0; }
.icon-last  { background-position: -36px 0; }

.icon-top    { background-position:   0   -12px; }
.icon-up     { background-position: -12px -12px; }
.icon-down   { background-position: -24px -12px; }
.icon-bottom { background-position: -36px -12px; }



.system-msg {
  background: #69c url(ui_error.png) no-repeat scroll 2px 4px;
  border: none;
  color: #fff;
  font-weight: bold;
  margin: 0;
  padding: 4px 23px;
  @include text-shadow( 1px 1px 2px #406080 );
}

div.page_header {
  border-top: 1px solid #000;
  margin: 0 0 16px 0;
  padding: 4px 6px;
  @include box-shadow( inset 0px 6px 6px -6px rgba( #000, 0.618 ) );

  h2.page_title {
    color: #000;
    font-size: 13.82pt;
    font-weight: normal;
    margin: 2px 0;
  }

  p.page_info {
    color: #444;
    font-size: 10pt;
    font-weight: normal;
    margin: 2px 0;
  }

  img.page_icon {
    float: right;
    margin: 4px 6px 4px 10px;
  }

}

div.dialog {
  border: 1px solid hsl( 0, 0, 74% );
  margin: 68px auto 10px auto;
  padding: 16px 26px;
  width: 360px;
  @include box-shadow( 4px 4px 10px rgba( #000, 0.382 ) );

  h2.dialog_headline {
    color: #000;
    font-size: 16.18pt;
    font-weight: normal;
    margin: 10px 0 26px 0;
    text-align: center;
    @include text-shadow( 1px 1px 1px rgba( #000, 0.236 ) );
  }

  p.dialog_info {
    color: #000;
    font-size: 10pt;
    font-weight: normal;
    line-height: 16.18pt;
    margin: 10px 0;
    text-align: center;
    @include text-shadow( 1px 1px 1px rgba( #000, 0.236 ) );
  }

  p.dialog_butons {
    text-align: center;
    margin: 26px 0 10px 0;

    input {
      margin: 0 10px;
    }

  }

}

table.base {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 16px 0;
  width: 100%;

  th, td {
    margin: 0;
    padding: 4px 10px;
    text-align: left;
    vertical-align: baseline;
    @include text-shadow( 0 1px #fff );

    &.number {
      text-align: right;
    }

    &.position {
      width: 1%;
      white-space: nowrap;
    }

    &.data_sorted {
      background: hsl( 0, 0%, 94% );
    }

  }

  th {
    background: hsl( 0, 0%, 90% );
    white-space: nowrap;
    @include text-shadow( 0 1px #fff );
  }

  tbody.hover {
    @include transition( background 0.618s );

    &:hover {
      background: hsl( 0, 0%, 96% );
      @include transition( background 0.236s );
    }

  }

}

table.display {
  @extend table.base;
  border-bottom: 1px solid #aaa;
 
  th {
    border-top: 1px solid #aaa;
  }

  td {
    border-top: 1px solid #aaa;
    width: 100%;
  }

}

div.form {
  background: hsl( 0, 0%, 90% );
  border: 1px solid #aaa;
  margin: 16px 10px;
  overflow: hidden;
  @include border-radius( 4px );

  table {
    @extend table.base;
    margin: 0;

    th {
      background: transparent;
      border-bottom: 1px solid #aaa;
    }

    td {
      border-bottom: 1px solid #aaa;
    }

    tr.head, tr.buttons {
      th, td {
        padding-bottom: 6px;
        padding-top: 6px;
      }
    }

    tr.input {
      background: hsl( 0, 0%, 96% );
      @include transition( background 0.618s );

      &:hover {
        background: hsl( 0, 0%, 94% );
        @include transition( background 0.236s );

        td {
          color: #000;

          &.optional {
            color: hsl( 0, 0%, 38.2% );
          }

        }

      }

      th {
        color: #000;
        font-weight: normal;
      }

      td {
        color: hsl( 0, 0%, 23.6% );

        &.optional {
          color: hsl( 0, 0%, 61.8% );
        }

      }

    }

  }

  table:last-child tr:last-child th, table:last-child tr:last-child td {
    border: none;
  }

}

table.data {
  @extend table.base;
  border-bottom: 1px solid #aaa;

  th {
    border-top: 1px solid #aaa;
    vertical-align: bottom;
  }

  td {
    border-top: 1px solid #aaa;

    &.minor {
      border-top: 1px solid #ccc;
    }

    label {
      display: inline-block;
      width: 100%;
    }

  }

}

table.selection {
  @extend table.base;
  border-bottom: 1px solid #aaa;

  th {
    border-top: 1px solid #aaa;
    vertical-align: bottom;
  }

  td {
    border-top: 1px solid #aaa;

    label {
      display: inline-block;
      width: 100%;
    }

  }

}

ul.columns {
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    list-style: none;
    margin: 0 10px 4px 0;
    width: 240px;
  }

}

/*
h3 { font-size: 16px; font-weight: normal; margin: 16px 0 6px 0; }
h4 { font-size: 14px; font-weight: normal; margin: 10px 0 6px 0; }
p { margin: 6px 0; color: #444; }
a { text-decoration: none; }
a:hover { text-decoration: underline; }

.error { background: url(<dtml-var get_MetaPublisher2_url>/ui_error.png) no-repeat left top; color: #f00; font-weight: bold; padding-left: 20px; }
div.infobox { background: #fff; border: 1px solid #666; font-family: courier,monospace; font-size: 12px; height: 200px; overflow: auto; padding: 2px 4px; }

.terminal_hello { color: #fff; font-weight: bold; }
.terminal_prompt { color: #0cd; }
.terminal_error { color: #ff0; }
.terminal_dim { color: #999; }
.terminal_normal { color: #ccc; }
.terminal_bright { color: #fff; }
*/
